/* STYLE SECTIONING TAGS */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("assets/background1.jpg");
  color: #778da9;
  text-align: center;
  
}

@font-face {
  font-family: ChopinScript;
  src = url("assets/ChopinScript.ttf");
}

/* STYLE TEXT */
h1 {
  font-style: italic;
  color: #e0e1dd;
  font-family: ChopinScript;
  font-size: 3em
}

h2 {
  margin-top: 2em;   
  font-family: ChopinScript;
}

h3 {
  font-size: 15px;
}

p {
  font-family: ChopinScript;
  font-decoration: highlight;
  background-color: rgba(224, 225, 221, 0.2);
}


#result {
  margin-top: 0.5em;
  font-size: 3em;
  color: #e0e1dd;
  font-family: ChopinScript;
  font-style: italic;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  /* uncomment the next line to center the questions and answers */
  justify-content: center;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  text-align: center;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 5em;
}

/* STYLE BUTTON */
button { 
  align: center;
  width: 200px;
  margin-top: 5px;
  background-color: #1B263B;
  color: #e0e1dd;
  font-family: ChopinScript;
}
